<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actor.first_name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <a href="/"> <img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1><%= `${actor.first_name} ${actor.last_name}` %></h1>  %> </h1>
    <p>Avaliação: <%= actor.rating %> </p>
    <a href="/movies/detail/<%= actor.favorite_movie.id %> ">
        <p>Filmes Favorito: <%= actor.favorite_movie != null ? actor.favorite_movie.title : 'Não possui!' %> </p>
    </a>
    <ul>
        <h3>Filmes que participou: </h3>
        <% movies.forEach(movie => { %>
            <li>
                <a href="/movies/detail/<%= movie.id %> "><%= movie.title %></a> 
            </li>
        <% }) %> 
    </ul>
</body>
</html>